html {
    font-size: 1.4rem;
    min-height: 100%;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 1.6rem;
    }
}

body {
    /* background: #535353; */
    background: #f1f1f1;
    font-size: 62.5%;
    margin-bottom: 3rem;
}

p {
    margin: 0;
    padding: 0;
}

.card-footer button {
    border-radius: 4px;
    font-size: 0.7rem;
}

.no-focus-style {    
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    cursor: auto;
}