@model List<TaskModel>

@{
    ViewData["Title"] = "Tarefas Concluídas";
}

<main class="text-center">
    <h1 class="fs-4">Concluídas</h1>

    <div class="d-flex flex-column align-items-center gap-2">
        @foreach (var task in Model)
        {
            await Html.RenderPartialAsync("_CardTask", task);
        }
    </div>
</main>
