@model ToDoList.App.ViewModels.TaskViewModel;

@{
    ViewData["Title"] = "Nova Tarefa";
}

<div>
    <h1 class="fs-4 text-center">Nova Tarefa</h1>

    <form method="post" asp-controller="Home" asp-action="Create" class="d-flex flex-column align-items-center gap-2">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" name="title" id="title" placeholder="Estudar ASP.NET" required
                class="form-control form-control-sm" />
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" name="description" id="description" placeholder="Estrutura e Razor pages"
                required class="form-control form-control-sm" />
        </div>

        <div class="d-flex text-center gap-2">
            <button type="button" id="cancelButton" class="btn btn-sm btn-outline-danger">
                Cancelar
            </button>

            <button type="submit" class="btn btn-success btn-sm">
                Salvar
            </button>
        </div>
    </form>
</div>
