@model TaskModel

<form method="post" asp-controller="Home" asp-action="Complete" asp-route-id="@Model.Id" id="complete-@Model.Id"
    class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Concluir Tarefa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>Deseja concluir a tarefa <strong>@Model.Title</strong>?</p>
                <p>Essa ação não poderá ser desfeita.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</form>
