@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger text-lg-center">Erro de requisição!</h1>
<h5>Verifique o erro a seguir e tente novamente.</h5>

@if (Model.Message is not null)
{
    <p class="text-lg-start">Erro: <strong>@Model.Message</strong></p>
}